<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href= "https://www.google.com/" class="navbar-brand">Google</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="authentication.isUserLoggedIn()" routerLink="/welcome/johndw" class="nav-link">Home</a></li>
      <li><a *ngIf="authentication.isUserLoggedIn()" routerLink="/items" class="nav-link">Inventory</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a *ngIf="!authentication.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="authentication.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>




  </nav>




</header>